<!DOCTYPE html>
<html>
  <head>
    <title>HotwireExampleTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <dialog class="group fixed m-auto inset-0 w-96" data-controller="dialog" data-action="turbo:frame-load->dialog#showModal">
      <turbo-frame id="dialog"></turbo-frame>
    </dialog>

    <dialog class="group fixed ml-auto border-l inset-0 h-full w-96" data-controller="dialog" data-action="turbo:frame-load->dialog#showModal">
      <turbo-frame id="drawer"></turbo-frame>
    </dialog>
  </body>
</html>
